<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>
    <link
      href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="info.css" />
    <!-- Incluir Prism -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/prism.min.js"></script>
    <!-- Incluir el tema por defecto de Prism -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/themes/prism.min.css"
      rel="stylesheet"
    />

    <title>Rutas de la API</title>
  </head>
  <body class="bg-gradiente-vice-city">
    <header
      class="w-100 position-sticky d-flex justify-content-center"
      style="top: 20px"
    >
      <%- include('header'); %>
    </header>

    <section class="container bg-light rounded p-5 mt-5">
      <h2 class="text-center">Guía Rápida</h2>

      <div class="row bg-white rounded p-5 border-2 shadow-sm mb-5">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a
              class="list-group-item list-group-item-action active"
              id="list-pais-list"
              data-toggle="list"
              href="#list-pais"
              role="tab"
              aria-controls="pais"
              >api/pais:pais_id</a
            >
            <a
              class="list-group-item list-group-item-action"
              id="list-estado-list"
              data-toggle="list"
              href="#list-estado"
              role="tab"
              aria-controls="estado"
              >api/estado</a
            >
            <a
              class="list-group-item list-group-item-action"
              id="list-ciudad-list"
              data-toggle="list"
              href="#list-ciudad"
              role="tab"
              aria-controls="ciudad"
              >api/ciudad</a
            >
          </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="list-pais"
              role="tabpanel"
              aria-labelledby="list-pais-list"
            >
              <h3>Parametros</h3>
              <ul>
                <li>
                  id_pais(opcional) , type number: Este id se puede pasar por
                  url de la sigueinte manera <code>api/pais/:id_pais</code>
                  retorna un pais específico
                </li>
              </ul>
            </div>
            <div
              class="tab-pane fade"
              id="list-estado"
              role="tabpanel"
              aria-labelledby="list-estado-list"
            >
              <h3>Parametros</h3>
              <ul>
                <li>
                  id_pais(Requerido):Sirve para mostrar los estados de un pais
                  <code>api/estado/:id_pais</code>
                  retorna una lista de estados de dicho pais
                </li>
                <li>
                  nombre(Opcional) :sirve para filtrar un estado por su nombre
                  <code>api/estado/:id_pais?nombre=nombreDeMiEstado</code>
                </li>
                <li>
                  id(Opcional) : devuelve un estado espesifico
                  <code>api/estado/:id_pais/id</code>
                </li>
              </ul>
            </div>
            <div
              class="tab-pane fade"
              id="list-messages"
              role="tabpanel"
              aria-labelledby="list-ciudad-list"
            >
              ...
            </div>
          </div>
        </div>
      </div>

      <h1>Países</h1>
      <p>Este endpoint permite obtener una lista de países del mundo.</p>
      <pre><code><span class="badge text-bg-primary">GET</span> /api/pais</code></pre>
      <h3>Parámetros</h3>
      <ul>
        <li><strong>Query Parameters:</strong></li>
        <!-- Detalles de los parámetros -->
        <li>
          <strong>nombre</strong> (opcional): Filtra los resultados para incluir
          solo aquellos países cuyo nombre coincide con el valor proporcionado.
          <br />
          <code>/api/pais?nombre=Venezuela</code>.
        </li>
      </ul>
      <h3>Respuesta</h3>
      <p>
        La respuesta es un array de objetos, donde cada objeto representa un
        país. Cada objeto contiene los siguientes campos:
      </p>
      <ul>
        <li><strong>id</strong>: Un número único que identifica al país.</li>
        <li><strong>name</strong>: El nombre oficial del país.</li>
        <li>
          <strong>code</strong>: Un código de dos letras que representa al país.
        </li>
      </ul>

      <h3>Ejemplo.</h3>
      <pre><code><span class="badge text-bg-primary">GET</span> api/pais?nombre=Ve</code></pre>
      <h4>Reponse</h4>
      <pre><code class="language-json">[
        {
          "id": 47,
          "name": "Cape Verde",
          "code": "cv"
        },
        {
          "id": 142,
          "name": "Maldives",
          "code": "mv"
        },
        {
          "id": 185,
          "name": "Slovenia",
          "code": "si"
        },
        {
          "id": 217,
          "name": "Venezuela",
          "code": "ve"
        }
      ]</code></pre>
      <hr />
      <h2>Estados</h2>
      <p>
        El endpoint de estados es una ruta específica diseñada para proporcionar
        información sobre todos los estados de un país en particular. Es
        <b>fundamental</b> especificar el ID del país al realizar la consulta,
        ya que los estados están asociados y dependen de países específicos.
      </p>
      <ul>
        <li><strong>id</strong>: Un número único que identifica al estado.</li>
        <li><strong>name</strong>: El nombre oficial del estado.</li>
        <li>
          <strong>code</strong>: Es un código numérico simple, puede ayudar a
          organizar los resultados.
        </li>
      </ul>
      <h3>Ejemplo</h3>
      <pre><code><span class="badge text-bg-primary">GET</span> api/estados/217/?nombre=Por</code></pre>
      <h4>Reponse</h4>
      <pre><code class="language-json">[
	{
		"id": 3717,
		"name": "Portuguesa",
		"code": "18",
		"country_id": 217
	}
]</code></pre>

      <hr />

      <h2>Ciudades</h2>
      <p>
        Este endpoint depende de un <b>país ID</b> Ese parámetro es requerido,
        Servirá para mostrar las ciudades, pueblos o caseríos de un estado de un
        País específico
      </p>

      <h3>Parámetros</h3>
      <ul>
        <li><strong>Query Parameters:</strong></li>
        <!-- Detalles de los parámetros -->
        <li>
          <strong>nombre</strong> (opcional): Filtra los resultados para incluir
          solo aquellos países cuyo nombre coincide con el valor proporcionado.
          <pre>
          <code>/api/ciudad/217?nombre=Guanarito</code>.
          -- response
          <code class="language-json">[
            {
              "id": 2682979,
              "region_id": 3717,
              "country_id": 217,
              "latitude": "8.70222220",
              "longitude": "-69.20722220",
              "name": "Guanarito"
            },
            {
              "id": 2682978,
              "region_id": 3720,
              "country_id": 217,
              "latitude": "10.57166670",
              "longitude": "-69.68388890",
              "name": "Guanarito"
            }
          ]</code>
          </pre>
        </li>
      </ul>

      <pre><code><span class="badge text-bg-primary">GET</span>api/ciudad/217</code></pre>
      <h3>Respuesta</h3>
      <p>
        La respuesta es un array de objetos, donde cada objeto representa una
        ciudad. Cada objeto contiene los siguientes campos:
      </p>
      <ul>
        <li>
          <strong>id</strong>: Un número único que identifica a la ciudad.
        </li>
        <li>
          <strong>region_id</strong>: Código que identifica al estado del país.
        </li>
        <li>
          <strong>country_id</strong>: Código del país al que pertenece la
          ciudad
        </li>
        <li><strong>latitude</strong>: Latitud de la cuidad.</li>
        <li><strong>longitude</strong>: Longitud de la cuidad.</li>
        <li><strong>name</strong>: Nombre de la cuidad.</li>
      </ul>

      <h3>Ejemplo</h3>
      <pre><code><span class="badge text-bg-primary">GET</span> api/ciudad/217</code></pre>
      <h4>Reponse</h4>
      <pre><code class="language-json">[
        {
          "id": 2675032,
          "region_id": 3709,
          "country_id": 217,
          "latitude": "11.00000000",
          "longitude": "-70.66666670",
          "name": "1 Beneficio"
        },
        {
          "id": 2675040,
          "region_id": 3709,
          "country_id": 217,
          "latitude": "11.80000000",
          "longitude": "-70.01666670",
          "name": "Abudure"
        },
        {
          "id": 2675041,
          "region_id": 3709,
          "country_id": 217,
          "latitude": "12.00750000",
          "longitude": "-70.14722220",
          "name": "Acaboa"
        }... ]</code></pre>

      <h2>Importante</h2>
      <p class="alert alert-info">
        Los datos aquí presentes pueden que no sean del todo correcto, por eso
        invitamos a la comunidad a colaborar abiertamente, a reportar cualquier
        incongruencia en la data además de invitarles a contribuir y en
        cualquier mejora que considere importante para nuestra base de datos.
        Especialmente a aquellas ciudades o pueblos que no están en la base de
        datos o tenga un nombre mal escrito. Todo el apoyo será bienvenido
      </p>
    </section>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/components/prism-json.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/components/prism-javascript.min.js"></script>
  </body>
</html>
