<footer
  id="footer"
  class="w-100 mt-5 p-4 d-flex justify-content-between align-content-center bg-oscuroPersonalizado relative bottom-0"
>
  <p class="text-secondary w-50">
    Los datos aquí presentes pueden que no sean del todo correcto, por eso
    invitamos a la comunidad a colaborar abiertamente, a reportar cualquier
    incongruencia en la data además de invitarles a contribuir y en cualquier
    mejora que considere importante para la base de datos. Especialmente a
    aquellas ciudades o pueblos que no están en la base de datos o tenga un
    nombre mal escrito. Todo el apoyo será bienvenido.
  </p>

  <div class="w-50" style="padding-left: 4rem">
    <code class="text-info">
      Invítame un café, tal vez no halla mucho por ahora, pero lograremos más!
      Con 🩷 y
    </code>
    <form
      action="https://www.paypal.com/donate"
      method="post"
      target="_top"
      class="d-flex justify-content-estar align-items-center"
    >
      <input type="hidden" name="business" value="joangabriel684@gmail.com" />
      <input type="hidden" name="cmd" value="_donations" />
      <input
        type="hidden"
        name="item_name"
        value="Nombre de tu proyecto o causa"
      />
      <input type="hidden" name="currency_code" value="USD" />
      <input
        type="image"
        src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"
        name="submit"
        alt="PayPal - The safer, easier way to pay online"
      />
      <img
        alt=""
        src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
        width="1"
        height="1"
      />
      <div class="icon-cafe"></div>
    </form>

    <a class="link-warning text-end" href="https://discord.gg/ZpuTrXMX">
      Puedes ayudar reportando algún problema en el canal de Discord
    </a>
    <img
      src="discord-icon-svgrepo-com.svg"
      alt="Icono de Discord"
      height="20px"
      width="20px"
      Target="_blank"
    />
  </div>
</footer>
