<nav
  class="navbar w-75 rounded bg-light bg-opacity-75"
  style="backdrop-filter: blur(10px)"
>
  <!-- Navbar content -->
  <div class="container-fluid d-flex justify-content-betwend">
    <a class="navbar-brand" href="/">API World {🌎}</a>

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link link-dark" aria-current="page" href="/doc"
          >Documentacion</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link link-dark"
          href="https://github.com/JoanCermeno/API_pais_estado_ciudad"
          >Acerca de</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link link-dark" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
