<style>
  #nav-bar-app {
    background: rgba(22, 21, 21, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .nav-item:hover {
    background-color: rgba(22, 21, 21, 0.35);
    cursor: pointer;
    text-shadow: azure 10px;
    border-radius: 10px;
  }

  /* Estilos para pantallas pequeñas (max-width: 575px) */
  @media (max-width: 575px) {
    .navbar .navOP {
      flex-direction: column;
    }
  }
</style>
<header
  class="w-100 position-sticky d-flex justify-content-center"
  style="top: 20px; z-index: 10"
>
  <nav
    id="nav-bar-app"
    class="navbar bg-opacity-75 z-3 rounded-2"
    style="backdrop-filter: blur(10px); width: 90%"
  >
    <!-- Navbar content -->
    <div class="container-fluid d-flex justify-content-between">
      <a class="navbar-brand link-light text-center" href="/">API World {🌎}</a>
      <ul class="nav justify-content-center navOP">
        <li class="nav-item">
          <a
            class="nav-link link-light"
            aria-current="page"
            href="/doc"
            Target="_blank"
            >Documentacion</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-light"
            href="https://github.com/JoanCermeno/API_pais_estado_ciudad"
            Target="_blank"
            >Acerca de</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link link-light"
            href="https://github.com/JoanCermeno/API_pais_estado_ciudad/issues"
            Target="_blank"
            >Reportar un error</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
