<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="info.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script src='https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js'></script>
	<link href='https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css' rel='stylesheet' />

	<title>Get Started</title>
</head>
<body>
	<h2 class="main_title">DEMO PAISES ESTADOS Y CUIDADES</h2>

	<p class="text-start text">Hola y bienvenido, esta api te proporciona una lista de todos,los países del mundo con sus respectivas estados o regiones. y sus ciudades o pueblos. demás de otras informaciones. API publica creada por Joan Cermeño :)</p>
	<div class="container w-75 py-2 border rounded" style="background-color: #eee;">
		<div class="container-fluid">
			<h2>Ejemplo</h2> 
		</div>
		<div class="form-floating p-2 mx-auto">

			<select class="form-select form-select-sm" id="select_pais" aria-label="Default select example">
		  		<option selected>--Selecione un Pais--</option>

			</select>
			<label for="select_pais">País.</label>

		</div>

		<div class="form-floating p-2">

			<select class="form-select form-select-sm" id="select_estado" aria-label="Default select example">
				<option selected value="default">--Selecciona un Estado--</option>

			</select>

			<label for="select_pais">Seleccione un estado
				<div class="bar-load hiden" id="bar-load-estado">
					<div class="bar-padding"></div>
				</div>
			</label>

		</div>

		<div class="form-floating p-2">

		  <select class="form-select form-select-sm" id="select_ciudad" aria-label="Default select example">
		  	<option selected value="default">--Selecione una Ciudad--</option>
		    
		  </select>
		  <label for="select_pais"> Ciudades 
			<div class="bar-load hiden" id="bar-load-ciudad">
				<div class="bar-padding"></div>
			</div>
		  </label>


		</div>

		<div class="container mx-auto" style="width: 200px;">
			<button type="button" id="btnGetInfo" class="btn btn-outline-info">Solicitar información</button>
		</div>

		<section class="container-fluid d-none mt-5 " id="section-map">
			<div class="hiden mx-auto " id='map' style='width: 400px; height: 300px;'></div>
			<span class="badge text-bg-info" id="badge-lng">Longitud: </span>
			<span class="badge text-bg-info" id="badge-lat">Latitud: </span>
		
		</section>


	</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	<script type="text/javascript" src="http://<%=host%>:<%=port%>/selectSearch.js"></script>
	<script type="text/javascript" src="http://<%=host%>:<%=port%>/showMap.js"></script>
</body>
</html>
