<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="info.css">
	<title>Informacion de la API</title>
</head>
<body>
	<h2>Informacion the api</h2>
</body>
</html>